<configuration >
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <springProfile name="development,production">
        <root level="${logback.loglevel:-INFO}">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

</configuration>